.image{
            
}
.zoom1 {
    width: 100%;
}
.zoom2 {
    width: 150%;
}
.zoom3 {
    width: 200%;
}
.map{
    width: 600px;
    height: 600px;
    overflow: auto;
    position: relative;
}
.zoom-comtroler{
    display: flex;
    margin-bottom: 10px;
}
.zoomOption{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}
.point{
    position: absolute;
    top: 10px

}
.pin{
    height: 30px;
}